{% extends "catalog/base_layout.html" %}

{% block body %}
    <div class="row pl-4">
        <div class="col-md-8  item-main">
          <h3 class="pb-3 border-bottom">
            Главная
          </h3>

          <div class="item-post">
            <h2 class="item-post-title mb-4">Электроникс - техника для всехй</h2>

            <p>Коротко обо мне</p>
            <hr>
            <p>Сюда вложена часть моих знаний, которые опубликованы <a href="https://github.com/wannagetout">здесь. </a></p>
            <blockquote>
              <p>Младший разработчик, нравится Golang, учеба и "Ведьмак"</p>
            </blockquote>
            <p>Не нравится фронтенд</p>
          </div>

        </div>

        <aside class="col-md-4 item-sidebar">
          <div class="p-3 mb-3 bg-light rounded">
            <h4 class="font-italic">Информация</h4>
            <p class="mb-0">Все ссылки кликабельны</p>
          </div>

          <div class="p-3">
            <h4 class="font-italic">Личные ссылки</h4>
            <ol class="list-unstyled">
              <li><a href="https://github.com/wannagetout">GitHub</a></li>
              <li><a href="https://vk.com/wannaget_out">VK</a></li>
              <li><a href="t.me/">Telegram</a></li>
            </ol>
          </div>
        </aside>

      </div>

    </main>
{% endblock %}
